:root {
    --white: #fff;
    --light-green: #fdd5df;
    --dark-green: #fae8ed;
    --melon-pink: #EFACA5;
    --light-pink: #fae8ed;
};

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--light-green);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: var(--white);
    margin: 20px 0 40px 0;
    font-family: "Covered By Your Grace", cursive;
    font-size: 60px;
  }

  .container {
    background-color: var(--light-pink);
    width: 500px; /* Control the width of the container */
    height: auto;
    border: 5px solid var(--dark-green);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Wrap items to the next line */
    gap: 20px;
    justify-content: flex-start;
    padding: 30px;
    box-shadow: 22px 22px 57px #c1a4a1,
                -22px -22px 57px #ffece7;
}

.small_containers {
    background-color: var(--white);
    flex-basis: calc(50% - 10px); /* Ensure two items per row */
    height: 200px;
    position: relative;
    border-radius: 5%;
    box-sizing: border-box; /* Ensure padding and border are included */
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.small_containers:hover {
    background-image: linear-gradient(#fff0f5, #ffe0ea);;
}

/* when we click on an element, this form should pop up */
.task-form {
    display: flex;
    position: absolute;
    background-color: var(--white);
    border-radius: 5px;
    padding: 15px;
    width: 550px; /* Control the width of the container */
    height: 640px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  .hidden {
    display: none;
  }

  .close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px;
  
  }

  .close-icon {
    width: 20px;
    height: 20px;
  }

  .task-form-header {
    display: flex;
    justify-content: flex-end;
  }