:root {
    --white: #fff;
    --light-green: #BADD7F;
    --dark-green: #3E8440;
    --melon-pink: #EFACA5;
    --light-pink: #F7EFDA;
};

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--light-green);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: var(--white);
    margin: 20px 0 40px 0;
  }

  .container {
    background-color: var(--light-pink);
    width: 500px; /* Control the width of the container */
    height: auto;
    border: 5px solid var(--dark-green);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Wrap items to the next line */
    gap: 20px;
    justify-content: flex-start;
    padding: 30px;
}

.small_containers {
    background-color: var(--white);
    flex-basis: calc(50% - 10px); /* Ensure two items per row */
    height: 200px;
    position: relative;
    border-radius: 5%;
    box-sizing: border-box; /* Ensure padding and border are included */
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


